.gettingStarted {
	display: flex;
	height: 520px;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.inOnDeStart {
	height: 379px;
	width: 379px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.gettingStarted h1 {
	font-size: 70px;
	width: 240px;
	text-align: center;
}

.gettingStarted button {
	height: 30px;
	width: 140px;
	text-align: center;
	color: black;
}

.gettingStarted img {
	align-self: flex-end;
}

.contentDivider {
	border-bottom: 1px solid black;
}

.topContent {
	margin-top: 30px;
	margin-bottom: 40px;
	display: flex;
}

.bottomContent {
	margin-top: 30px;
	margin-bottom: 40px;
	display: flex;
}

footer {
	margin-top: 30px;
}

footer .contact {
	width: 200px;
}

.contact p {
	margin-bottom: 32px;
}

.centered {
	text-align: center;
}

a:hover {
	color: black;
}

.gettingStarted button:hover {
	animation-name: startbutton;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes startbutton {
	0% {

	}

	100% {
		background-color: gray;
	}
}